@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>index4 alani</h1>

<label>Adiniz</label>
<input type="text"/>
<br />
<label>Soyadiniz</label>
<input type="text"/>
<br />
<a href="/Register/SignUp/">Kayit Ol</a>
<br /><br />


